@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: LimeGreen;
}

#column-2 {
  background: ForestGreen;
}

#column-3 {
  background: SkyBlue;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: Chartreuse;
  }
  .col-3 {
    width: 50%;
    height: 320px;
    float: left;
  }
  #column-1 {
    background-color: DarkOrange;

  }

  #column-2 {
    background-color: DarkSalmon;

  }

  #column-3 {
    background-color: DarkRed;
    width: 100%;
  }

  footer {
    background-color: DarkSeaGreen;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: ;
  }

  #column-1 {
    background-color: DarkGoldenRod;
    width: 33%;
  }

  #column-2 {
    background-color: Cyan;
    width: 33%;
  }

  #column-3 {
    background-color: CornflowerBlue;
    width: 33%;
  }

  footer {
    background-color: DarkCyan;
  }

}
